/*
 * Override Bootstrap's default container.
 */
@media ( min-width : 1200px) {
	.container {
		width: 970px;
	}
}

html, body {
	margin: 0;
	height: 100%;
}

.container.content {
	padding-bottom: 100px;
}

.wrapper {
	min-height: 100%;
	/* 	position: relative; */
}

/*
 * HEADER
 */
.at-header {
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.at-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	color: #cdddeb;
}

.at-nav-item:hover, .at-nav-item:focus {
	color: #fff;
	text-decoration: none;
}

.at-nav-item.active {
	color: #fff;
}

.at-nav-item.active::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}

/*
 * FOOTER
 */
/*.at-footer {
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}*/
.at-footer {
	position: relative;
	margin-top: -100px;
	/* negative value of footer height */
	clear: both;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 40px 0;
}

/*
 * Loading dialog
 */
.loading-dialog {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .2) url('../images/loading.gif') 50% 50%
		no-repeat;
}

.at-section {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #fff;
	border: solid #ddd;
	border-width: 1px;
	border-radius: 0 0 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px 15px 15px;
}

.at-section.top {
	border-radius: 4px 4px 0 0;
}

.at-section.bottom {
	border-radius: 0 0 4px 4px;
}

.at-section.news {
	max-height: 200px;
	overflow-y: auto;
}

.at-section.events {
	max-height: 550px;
	overflow-y: auto;
}

.at-section-title {
	font-size: 25px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.at-events {
	overflow: hidden;
}

.at-event-list {
	list-style: none;
	margin: 10px;
}

.at-event-list li {
	width: 25%;
	text-align: center;
	text-transform: uppercase;
	float: left;
	margin: 10px;
	padding: 10px 30px 10px 30px;
}

.at-event-list li:hover {
	background-color: #428bca;
	color: #fff;
	cursor: grab;
}

.at-event-name {
	font-size: 15px;
	font-weight: bold;
	display: block;
}

.at-event-date {
	font-size: 10px;
	display: block;
}

.at-event-value {
	font-weight: bold;
	color: #3A8A40;
	display: block;
}

.at-actions {
	width: 100%;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

.at-detail {
	display: block;
	margin-bottom: 15px;
}

.at-detail th, .at-detail td {
	padding: 15px;
	text-align: left;
}

.at-detail .at-detail-label {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
	color: black;
}

.at-detail .at-detail-value {
	text-transform: uppercase;
	font-size: 15px;
}

.at-detail-value.simple {
	text-transform: none;
}

.at-detail-value.description {
	font-size: 12px;
	text-transform: capitalize;
}

.at-load-mask {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}