<div>
	<div class="at-load-mask" at-load-mask="vm.isLoadMaskActive"></div>
	<div ng-hide="vm.isLoadMaskActive">
		<div class="at-section news top">
			<div class="at-section-title">News</div>
			<div ng-repeat="news in vm.news track by $index">
				<div class="media">
					<div class="media-body">
						<h4 class="media-heading">{{ news.date | date }}</h4>
						<p>{{ news.message }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="at-section events bottom">
			<div class="at-section-title">Events</div>
			<div class="at-events" ng-if="vm.events">
				<ul class="at-event-list">
					<div ng-repeat="event in vm.events track by $index">
					<li ng-click="vm.showEvent(event.ticketId)">
						<span class="at-event-name">{{ event.name }}</span>
						<span class="at-event-date">{{ event.eventDate | date }}</span>
						<span class="at-event-value">{{ event.price | currency : 'HUF'}}</span>
					</li>
					</div>
				</ul>
			</div>
			<div ng-if="!vm.events">No events available</div>
		</div>
	</div>
</div>
