<div>
	<div ng-repeat="message in messages track by $index">
		<div class="alert alert-info" role="alert" ng-if="message.type === 'INFO'">{{ message.message }}</div>
		<div class="alert alert-warning" role="alert" ng-if="message.type === 'WARNING'">{{ message.message }}</div>
		<div class="alert alert-danger" role="alert" ng-if="message.type === 'ERROR'">{{ message.message }}</div>
	</div>
</div>