<div>
	<div class="at-load-mask" at-load-mask="vm.isLoadMaskActive"></div>
	<div ng-hide="vm.isLoadMaskActive">
		<h1>MY TICKETS</h1>
		
		<table st-table="vm.rowCollection" class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price (EUR)</th>
					<th>Buy Date</th>
					<th>Event Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody load-mask>
				<tr ng-repeat="ticket in vm.tickets">
					<td>{{ ticket.name }}</td>
					<td>{{ ticket.price }}</td>
					<td ng-if="ticket.buyDate">{{ ticket.buyDate | date }}</td>
					<td ng-if="!ticket.buyDate">-</td>
					<td ng-if="ticket.eventDate">{{ ticket.eventDate | date }}</td>
					<td ng-if="!ticket.eventDate">-</td>
					<td>
						<button type="button" ng-click="vm.buyTicket(ticket)" class="btn btn-sm">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<at-message messages="vm.messages" ng-if="vm.messages">
		</at-message>
	</div>
</div>
