<div>
	<div class="at-section top">
		<div class="at-load-mask" at-load-mask="vm.isTicketLoadMaskActive"></div>
		<div ng-hide="vm.isTicketLoadMaskActive">
			<div class="at-section-title">Ticket Details</div>
			<div class="at-detail">
				<table>
					<tr>
						<td><span class="at-detail-label">Event Name</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.name }}</span></td>
					</tr>
					<tr>
						<td><span class="at-detail-label">Price</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.price | currency : 'HUF' }}</span></td>
					</tr>
					<tr>
						<td><span class="at-detail-label">Event Date</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.eventDate | date }}</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="at-section bottom">
		<div class="at-load-mask" at-load-mask="vm.isBankingDetailsLoadMaskActive"></div>
		<div ng-hide="vm.isBankingDetailsLoadMaskActive">
			<div class="at-section-title">Banking Details</div>
			<div class="at-detail">
				<table>
					<tr>
						<td><span class="at-detail-label">Customer name</span></td>
						<td><span class="at-detail-value">{{ vm.bankingDetail.userName }}</span></td>
					</tr>
					<tr>
						<td><span class="at-detail-label">Balance</span></td>
						<td><span class="at-detail-value">{{ vm.bankingDetail.balance | currency : 'HUF' }}</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="at-actions">
		<button type="button" class="btn btn-primary" ng-click="vm.buy()">Buy</button>
		<button type="button" class="btn btn-default" ng-click="vm.back()">Back</button>
	</div>
	
	<at-message messages="vm.messages" ng-if="vm.messages">
	</at-message>
</div>