<div>
	<div class="at-load-mask" at-load-mask="vm.isLoadMaskActive"></div>
	<div ng-hide="vm.isLoadMaskActive">
		<div class="at-section top">
			<div class="at-section-title">Ticket Details</div>
			<div class="at-detail">
				<table>
					<tr>
						<td><span class="at-detail-label">Event Name</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.name }}</span></td>
					</tr>
					<tr>
						<td><span class="at-detail-label">Price</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.price | currency : 'HUF' }}</span></td>
					</tr>
					<tr>
						<td><span class="at-detail-label">Event Date</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.eventDate | date }}</span></td>
					</tr>
					<tr ng-if="vm.ticketDetail.buyDate">
						<td><span class="at-detail-label">Buy Date</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.buyDate | date }}</span></td>
					</tr>
					<tr ng-if="vm.ticketDetail.reservedDate">
						<td><span class="at-detail-label">Reserve Date</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.reservedDate | date }}</span></td>
					</tr>
					<tr ng-if="vm.ticketDetail.remainingTicket">
						<td><span class="at-detail-label">Remaining Ticket</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.remainingTicket }}</span></td>
					</tr>
					<tr ng-if="vm.ticketDetail.link">
						<td><span class="at-detail-label">Link</span></td>
						<td><span class="at-detail-value simple"><a href="{{vm.ticketDetail.link}}">{{ vm.ticketDetail.link }}</a></span></td>
					</tr>
					<tr ng-if="vm.ticketDetail.rating">
						<td><span class="at-detail-label">Rating</span></td>
						<td><span class="at-detail-value">{{ vm.ticketDetail.rating }}</span></td>
					</tr>
					<tr>
						<td><span class="at-detail-label">Information</span></td>
						<td><span class="at-detail-value description">{{ vm.ticketDetail.description }}</span></td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="at-actions">
			<button type="button" class="btn btn-primary" ng-click="vm.reserve()">Reserve</button>
			<button type="button" class="btn btn-default" ng-click="vm.back()">Back</button>
		</div>
		
		<at-message messages="vm.messages" ng-if="vm.messages">
		</at-message>
	</div>
</div>